.controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.controls__top {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.controls__inp {
  max-width: 140px;
}

.controls__btn-group {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.btn--active {
  border-color: #646cff;
}
